---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <!-- 如果页面有更新时间，就显示更新时间，否则就显示创建时间 -->
        <span class="post-meta">更新时间:</span>
        {% if page.last_modified_at %}
          <span class="post-meta">{{ page.last_modified_at | date: date_format}}</span>
        {% else %}
          <span class="post-meta">{{ page.date | date: date_format}}</span>
        {% endif %}
      </time>

      • {% include post-tags.html %}


      {%- if page.author -%}
        • 作者 : <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}

    </p>

  </header>



  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>


  <div class="shift-right">
    {% include page-pv-count.html %}
  </div>


  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
